# Code and Repo by [+[-GMG-]]
# Script: Restore on every boot previously installed libpinyin on to iBus Settings to avoid Puppet Restore

[Desktop Entry]
Name=Restaurar config de ibus
Comment=Restaurar configuracións de ibus a idioma Chino para usuario en XFCE.
Exec="/home/usuario/.config/autostart/CN_Script"
Type=Application

# Fuck <Abalar Regional Accesibility> Script 
